.histoslider-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -15px;
  padding-left: 20px;
  padding-right: 20px;
}

.histoslider-reset {
  align-self: flex-end;
  font-weight: 700;
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}