.histoslider-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: -10px;
}

.histoslider-reset {
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}